//-------------------Menu----------------------
.navbar {
  text-align: center;
  ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
//------------------Trigger menu ---------------------
